[defaults]
inventory = inventory
host_key_checking = false
remote_user = devops
forks = 10
private_key_file = /home/devops/.ssh/controller-key
collections_path = /home/devops/projects/collections:/usr/share/ansible/collections


[privileged_escalation]
become = True
become_user = root
become_method = sudo
become_ask_pass = False

[inventory]
ansible_plugins = community.general.nmap
